.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.page {
  width: 100%;
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #000;
  background-color: #fff; }

.header {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  background-color: #7ca5d9; }

.content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap; }

.content__item {
  flex-basis: 44%;
  display: block;
  margin: 0;
  margin-bottom: 20px; }

.content__item:nth-of-type(1),
.content__item:nth-of-type(2) {
  flex-basis: 90%; }

.content__item:nth-of-type(1) {
  order: 10; }

.content__item:nth-of-type(2) {
  order: 9; }

.content__item
.content__item-img {
  width: 100%;
  height: auto; }

@media screen and (min-width: 768px) {
  .header {
    height: 60px; } }
@media screen and (min-width: 768px) {
  .content {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 700px; }

  .content__item {
    flex-basis: 26%;
    width: 21%;
    margin-bottom: 10px; }

  .content__item:nth-of-type(1) {
    order: 1; }

  .content__item:nth-of-type(2) {
    order: 2; }

  .content__item:nth-of-type(3) {
    order: 3; }

  .content__item:nth-of-type(4) {
    order: 4; }

  .content__item:nth-of-type(5) {
    order: 5; }

  .content__item:nth-of-type(6) {
    order: 6; }

  .content__item:nth-of-type(7) {
    order: 7; }

  .content__item:nth-of-type(8) {
    order: 8; }

  .content__item:nth-of-type(9) {
    order: 9; }

  .content__item:nth-of-type(10) {
    order: 10; }

  .content__item:nth-of-type(1),
  .content__item:nth-of-type(2) {
    width: 26%;
    flex-basis: 38%; }

  .content__item:nth-of-type(1) {
    margin-bottom: 0; }

  .content__item:nth-of-type(2) {
    margin-bottom: 30px; }

  .content__item:nth-of-type(4) {
    order: 6; }

  .content__item:nth-of-type(5) {
    order: 9; }

  .content__item:nth-of-type(6) {
    order: 4; }

  .content__item:nth-of-type(8) {
    order: 10; }

  .content__item:nth-of-type(9) {
    order: 5; }

  .content__item:nth-of-type(10) {
    order: 8; } }
@media screen and (min-width: 1000px) {
  .header {
    background-image: url("../img/bg-1280.jpg");
    background-position: 0 0;
    background-repeat: repeat; } }
@media screen and (min-width: 1000px) {
  .content__item {
    width: 12%;
    margin-bottom: 0; }

  .content__item:nth-of-type(1),
  .content__item:nth-of-type(2) {
    width: auto;
    flex-basis: 100%; }

  .content__item:nth-of-type(3),
  .content__item:nth-of-type(4),
  .content__item:nth-of-type(5),
  .content__item:nth-of-type(6) {
    flex-basis: 22%; }

  .content__item:nth-of-type(7),
  .content__item:nth-of-type(8),
  .content__item:nth-of-type(9),
  .content__item:nth-of-type(10) {
    flex-basis: 78%; }

  .content__item:nth-of-type(2) {
    order: 10;
    margin-bottom: 0; }

  .content__item:nth-of-type(8) {
    order: 5; }

  .content__item:nth-of-type(3) {
    order: 2; }

  .content__item:nth-of-type(9) {
    order: 7; }

  .content__item:nth-of-type(7) {
    order: 3; }

  .content__item:nth-of-type(6) {
    order: 8; }

  .content__item:nth-of-type(4) {
    order: 4; }

  .content__item:nth-of-type(5) {
    order: 6; }

  .content__item:nth-of-type(10) {
    order: 9; } }

/*# sourceMappingURL=style.css.map */
