@media screen and (min-width: 768px) {
  .content {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 700px;
  }
  .content__item {
    flex-basis: 26%;
    width: 21%;
    margin-bottom: 10px;
  }
  @for $i from 1 through 10 {
    .content__item:nth-of-type(#{$i}) {
      order: $i;
    }
  }
  .content__item:nth-of-type(1),
  .content__item:nth-of-type(2) {
    width: 26%;
    flex-basis: 38%;
  }
  .content__item:nth-of-type(1) {
    margin-bottom: 0;
  }
  .content__item:nth-of-type(2) {
    margin-bottom: 30px;
  }
  .content__item:nth-of-type(4) {
    order: 6;
  }
  .content__item:nth-of-type(5) {
    order: 9;
  }
  .content__item:nth-of-type(6) {
    order: 4;
  }
  .content__item:nth-of-type(8) {
    order: 10;
  }
  .content__item:nth-of-type(9) {
    order: 5;
  }
  .content__item:nth-of-type(10) {
    order: 8;
  }
}
