.content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}
.content__item {
  flex-basis: 44%;
  display: block;
  margin: 0;
  margin-bottom: 20px;
}
.content__item:nth-of-type(1),
.content__item:nth-of-type(2) {
  flex-basis: 90%;
}
.content__item:nth-of-type(1) {
  order: 10;
}
.content__item:nth-of-type(2) {
  order: 9;
}
.content__item
.content__item-img {
  width: 100%;
  height: auto;
}
