@media screen and (min-width: 1000px) {
  .content__item {
    width: 12%;
    margin-bottom: 0;
  }
  .content__item:nth-of-type(1),
  .content__item:nth-of-type(2) {
    width: auto;
    flex-basis: 100%;
  }
  .content__item:nth-of-type(3),
  .content__item:nth-of-type(4),
  .content__item:nth-of-type(5),
  .content__item:nth-of-type(6) {
    flex-basis: 22%;
  }
  .content__item:nth-of-type(7),
  .content__item:nth-of-type(8),
  .content__item:nth-of-type(9),
  .content__item:nth-of-type(10) {
    flex-basis: 78%;
  }
  .content__item:nth-of-type(2) {
    order: 10;
    margin-bottom: 0;
  }
  .content__item:nth-of-type(8) {
    order: 5;
  }
  .content__item:nth-of-type(3) {
    order: 2;
  }
  .content__item:nth-of-type(9) {
    order: 7;
  }
  .content__item:nth-of-type(7) {
    order: 3;
  }
  .content__item:nth-of-type(6) {
    order: 8;
  }
  .content__item:nth-of-type(4) {
    order: 4;
  }
  .content__item:nth-of-type(5) {
    order: 6;
  }
  .content__item:nth-of-type(10) {
    order: 9;
  }
}
