$bg-color: #fff;
$font-color: #000;
$header-color: #7ca5d9;

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  width: 100%;

  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: $font-color;

  background-color: $bg-color;
}
